<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MVC Tech Blog</title>
  <link
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
      rel="stylesheet"
    />
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <div>
        <nav>
          <a href="/">Home</a>
          <a href="/dashboard">Dashboard</a>
          {{#if logged_in}}
          <a href="/" id="logout">Logout</a>
          {{else}}
          <a href="/login">Login</a>
          {{/if}}
        </nav>
      </div>
      <div>
        <h1 class="home-title">MVC Tech Blog</h1>
      </div>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
