<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6 post-list">
    <h3>Current Posts:</h3>
    <p>Click on post to edit</p>
    {{#each posts as |post|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/edit/{{post.id}}">{{post.title}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{post.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  <div class="col-md-8">
    <h4><a href="/add/">Create a new post</a></h4>
  </div>
</div>

<script src="/js/dashboard.js"></script>
